body {
    padding: 20px;
}

.container {
    max-width: 530px;
    margin: 0 auto;
}

/* TRUTH TABLE */
.truth-table {
    box-shadow: 0 1px 1px 0 rgba(0,0,0, 0.2);
    margin:0 auto 20px;
    width: 500px;
    }
    .truth-table th,
    .truth-table td {
        vertical-align: top !important;
        text-align: center;
        min-width: 40px;
        transition: background 0.5s ease;
    }
    .truth-table thead th {
        text-align: center;
        border-bottom: #ccc solid 2px;
        background: #eee;
        min-width: 35px;
        vertical-align: top;
        }
        .truth-table thead th .descr {
            display: block;
            font-size: 11px;
            font-style: italic;
            font-weight: normal;
            color: #666;
        }
    .truth-table tbody th {
        text-align: center;
        background: #f9f9f9;
    }

    /* State: highlited cell */
    .truth-table th.highlited,
    .truth-table td.highlited {
        background: rgba(255,0,0,0.1);
    }

    /* Type: blurred */
    .truth-table.blurred {
        color: #aaa
        }
        .truth-table.blurred .descr {
            color: #ccc
        }
        /* State: highlited column */
        .truth-table.blurred .highlited,
        .truth-table.blurred .x,
        .truth-table.blurred .y {
            color: #000;
            font-weight: bold;
        }
        .truth-table.blurred .highlited .descr {
            color: #333;
        }

    /* State: highlited row */
    .truth-table .highlited-row td {
        background: rgba(255,0,0,0.05);
        }
        .truth-table .highlited-row .highlited,
        .truth-table .highlited-row .x,
        .truth-table .highlited-row .y {
            background: rgba(255,0,0,0.2);
        }


/* Conditions of the problem */
.problem-condition {
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    border: #ddd solid 1px;
    border-radius: 5px;
    }
    .block-title {
        position: absolute;
        top: -9px;
        left: 10px;
        padding: 0 10px;
        background: #fff;
        font-size: 12px;
    }
    .condition-title {
        font-size: 14px;
        margin: 0 0 10px;
    }
    .condition-formula {
        text-align: center;
        font-weight: bold;
    }

    .popover-trigger {
        display: inline-block;
        border-bottom: #ccc dashed 1px;
        color: #000;
        cursor: pointer;
    }
    .popover-content {
        font-size: 11px;
    }


/* Tabs */
.tab-pane {
    padding: 10px;
}


/* Solution formula */
.solution-formula {
    margin: 0 0 30px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    }
    .wrap-element {
        position: relative;
        float: left;
        padding: 2px 5px;
        margin: 0 1px;
        transition: background 1.5s ease;
        }
        .wrap-element:before {
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            width:100%;
            padding: 1px 0;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            background: rgba(255,0,0,0.1);
            transition: all .5s ease;
            border-radius: 4px;
        }

        .wrap-left {
            }
            .wrap-left:before {
                content: "x";
            }
        
        .wrap-right {
            }
            .wrap-right:before {
                content: "y";
            }
        .wrap-operation {
            }
            .wrap-operation:before {
                content: attr(data-type);
            }

        /* State: highlited */
        .wrap-element.highlited {
            background: #ddd;
            text-shadow:0 1px 0 #fff;
            border-radius: 4px;
            }
            .wrap-operation.highlited {
                padding: 0 5px;
                margin-top: 2px;
                background: #CBD3F0;
            }

        /* State: Show markers */
        .wrap-element.show-markers {
            }
            .wrap-element.show-markers:before {
                opacity: 1;
                margin-top: 2px;
            }
            .wrap-operation.show-markers:before {
                margin-top: 4px;
            }


/* Solution blueprints */
.solution-blueprints {
    margin: -10px 0 20px;
}
.solution-blueprint {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    transition: background 0.5s ease;
}
.solution-blueprint .wrap-element {
    float: left;
}
.solution-blueprint .wrap-left { text-align: right;}
.solution-blueprint .wrap-right {}
.solution-blueprint .wrap-operation { text-align: center;}
.solution-blueprint .wrap-equal {}
.solution-blueprint .wrap-result {}

/* State: blueprint highlited */
.solution-blueprint.highlited {
    color: #000;
    background: rgba(255,0,0,0.1);
}

/* Step description */
.step-description {
    font-size: 12px;
    margin: 0;
    list-style: none;
    }
    .substep {
        margin: 0 0 15px 0;
        padding: 0 0 0 40px;
        position: relative;
        transition: opacity 0.5s ease;
        }
        .substep .run-button {
            position: absolute;
            top: -7px;
            left: 0;
        }
        .substep .substep-label {}
    
        .substep:last-child {
            margin-bottom: 0;
        }

        /* State: Done */
        .substep.done {
            opacity: 0.5;
            }
            .substep.done .run-button {
                cursor: default;
            }











