body {
    padding: 20px;
    background: #e5eaf0;
}

.container {
    max-width: 580px;
    margin: 0 auto;
}

/* 
    TRUTH TABLE 
*/
.truth-table {
    margin:0 auto 20px;
    width: 100%;
    }
    .truth-table th,
    .truth-table td {
        vertical-align: top !important;
        text-align: center;
        min-width: 40px;
        padding: 5px;
        background: rgba(255,255,255,0.6);
        transition: background 0.5s ease;
        border: #e5eaf0 solid 1px;
    }
    .truth-table thead th {
        text-align: center;
        border-bottom: #e5eaf0 solid 1px;
        background: #58ccc9;
        min-width: 35px;
        color: #fff;
        vertical-align: top;
        }
        .truth-table thead th .descr {
            display: block;
            font-size: 11px;
            font-style: italic;
            font-weight: normal;
            color: #fff;
        }
    .truth-table tbody th {
        background: #fff;
        font-size: 13px;
        padding: 2px; 
    }
    .truth-table tbody td {
        font-size: 13px;
        padding: 2px;
    }

    /* State: highlited cell */
    .truth-table th.highlited,
    .truth-table td.highlited {
        background: rgba(162, 235, 220, 0.67);
    }

    /* Type: blurred */
    .truth-table.blurred {
        color: #aaa
        }
        .truth-table.blurred .descr {
            
        }
        /* State: highlited column */
        .truth-table.blurred .highlited,
        .truth-table.blurred .x,
        .truth-table.blurred .y {
            color: #000;
            font-weight: bold;
        }
        .truth-table.blurred .highlited .descr {
            color: #333;
        }

    /* State: highlited row */
    .truth-table .highlited-row td {
        background: rgba(162, 235, 220, 0.67);
        }
        .truth-table .highlited-row .highlited,
        .truth-table .highlited-row .x,
        .truth-table .highlited-row .y {
            background:rgba(162, 235, 220, 1);
        }


/* 
    CONDITIONS OF THE PROBLEM 
*/
.problem-condition {
    margin-bottom: 30px;
    padding: 15px;
    position: relative;
    border: #58ccc9 solid 5px;
    background: #fff
    }
    .block-title {
        position: absolute;
        top: -12px;
        left: 10px;
        padding: 1px 10px;
        background: #58ccc9;
        color: #fff;
        font-size: 12px;
    }
    .condition-title {
        font-size: 14px;
        display: inline-block;
        margin: 0 20px 0 0;
    }
    .condition-formula {
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
    }

    .popover-trigger {
        display: inline-block;
        border-bottom: #ccc dashed 1px;
        color: #000;
        cursor: pointer;
    }
    .popover-content {
        font-size: 11px;
    }



/* 
    SOLUTION FORMULA 
*/
.solution-formula {
    margin: 0 0 30px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
    }
    .wrap-element {
        position: relative;
        float: left;
        padding: 2px 5px;
        margin: 0 1px;
        transition: background 1.5s ease;
        }
        .wrap-element:before {
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            width:100%;
            padding: 1px 0;
            text-align: center;
            font-size: 10px;
            font-weight: bold;
            background: rgba(162, 235, 220, 0.67);
            transition: all .5s ease;
        }

        .wrap-left {
            }
            .wrap-left:before {
                content: "x";
            }
        
        .wrap-right {
            }
            .wrap-right:before {
                content: "y";
            }
        .wrap-operation {
            }
            .wrap-operation:before {
                content: attr(data-type);
            }
        .wrap-result {
            border-radius: 100%;
            padding: 2px 8px;
            width: 24px;
            height: 24px;
            text-align: center;
            background: transparent;
            transition: background 0.5s ease 1s;
        }

        /* State: highlited */
        .wrap-element.highlited {
            background: #7BC1F0;
            }
            .wrap-operation.highlited {
                padding: 0 5px;
                margin-top: 2px;
                background: #7BD9F0;
            }

        /* State: Show markers */
        .wrap-element.show-markers {
            }
            .wrap-element.show-markers:before {
                opacity: 1;
                margin-top: 2px;
            }
            .wrap-operation.show-markers:before {
                margin-top: 4px;
            }
    
    /* Formula result */
    .formula-result {
        position: relative;
        float: left;
        padding: 5px 0px;
        font-size: 14px;
        transition: opacity 0.5s ease;
        opacity: 0;
        }
        .formula-result .wrap-element {

            }
            .formula-result .wrap-element:before {
                display: none;
            }

        /* State: show formula result */
        .show-result .formula-result {
             opacity: 1;
        }

        /* State: highlite formula result */
        .highlite-result .wrap-result {
            background: #F5D65B;
        } 



/* 
    SOLUTION BLUEPRINTS
*/
.solution-blueprints {
    margin: 0px 0 20px;
}
.solution-blueprint {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    opacity: 1;
    overflow: hidden;
    transition: background 0.5s ease, opacity 1.5s ease;
    float: left;
    clear: left;
    position: relative;
    }
    .solution-blueprint .wrap-element {}
    .solution-blueprint .wrap-left { text-align: right;}
    .solution-blueprint .wrap-right {}
    .solution-blueprint .wrap-operation { text-align: center;}
    .solution-blueprint .wrap-equal {}
    .solution-blueprint .wrap-result {}
    
    /* Result in blueprint unit matches with result of orig formula */
    .solution-blueprint .result-match { 
        float: left;
        margin: 5px 0 0 10px;
        font-size: 10px;
        opacity: 0;
        transition: opacity 0.5s ease 2s;
        }
        .solution-blueprint .result-match .match-icon {
            display: none;
        }
        
        /* Show result mathing */
        .solution-blueprint.show-result-matching .wrap-result {
            background: #F5D65B;
        } 
        .solution-blueprint.show-result-matching .result-match {
            opacity: 1;
        }
        .solution-blueprint.positive .result-match .positive {
            display: block;
            color: green;
        }
        .solution-blueprint.negative .result-match .negative {
            display: block;
            color: red;
        }

        .solution-blueprint .equation-to-process {}
            .solution-blueprint .equation-to-process.highlited {
                background: rgba(255,0,0,0.2);
            }

/* State: blueprint invisible */
.solution-blueprint.invisible-state {
    opacity: 0.2;
}

/* State: blueprint highlited */
.solution-blueprint.highlited {
    color: #000;
    background: rgba(162, 235, 220, 0.67);
}


/*
    FORMULA SOLVING
*/
#formula-solving {
    margin: 0 0 30px 0;
}
    .solving-step {
        position: relative;
        height: 20px;
    }
        .solving-wrap-element {
            position: absolute;
            top: 0;
            left: 10;
            padding: 2px 5px;
            text-align: center;
            font-size: 13px;
            font-weight: bold;
            background: #7BC1F0;
            box-sizing: content-box;
        }
        .solving-wrap-element.el-operation,
        .solving-wrap-element.el-equal {
            background: #7BD9F0;
        }

        
        .solving-formula-result {
            position: absolute;
            box-sizing: content-box;
        }

        .solving-step .equation-to-process {}
            .solving-step .equation-to-process.highlited {
                background: rgba(255,0,0,0.2);
            }
        
        .main-equation-step-blueprint {
            background: rgba(255,0,0,0.2);
        }

        .failed-matching {
            position: relative;
            }
            .failed-matching:after {
                content: '';
                position: absolute;
                z-index: 2;
                top: 10px;
                left: 0;
                width: 100%;
                max-width: 170px;
                height: 0;
                border-top: #f00 solid 1px;
            }

    .step-equation-blueprints {
        margin: 20px 0 0 0;
        font-size: 12px;
    }


/* 
    STEP NAV TABS
*/
.steps-nav-tabs {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .steps-nav-tabs li {
        display: table-cell;
        float: none;
        padding: 0 1px 0 0;
        margin: 0;
        }
        .steps-nav-tabs li:last-child {
            padding-right: 0;
        }
        .steps-nav-tabs li a {
            text-decoration: none;
            display: block;
            background: #58ccc9;
            color: #fff;
            padding: 10px 10px;
            white-space: nowrap;
            text-align: center;

        }
        .steps-nav-tabs li a:hover {
            background: #7ed8d5;
        }
        
        /* State: li is active */
        .steps-nav-tabs li.active a,
        .steps-nav-tabs li.active a:hover {
            background: #fff;
            color: #333;
        }
        /* State: li is disabled */
        .steps-nav-tabs li.disabled {
            opacity: 0.5;
            pointer-events:none;
        }
        .steps-nav-tabs li.disabled a,
        .steps-nav-tabs li.disabled a:hover {
            background: #58ccc9;
            cursor: default;
        }
/* 
    TABS 
*/
.tab-content {
    background: #fff;
}
.tab-pane {
    padding: 30px 20px;
}

/* 
    STEP DESCRIPTION 
*/
.step-description {
    font-size: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    .substep {
        margin: 0 0 25px 0;
        padding: 0 0 0 40px;
        position: relative;
        transition: opacity 0.5s ease;
        }
        .substep .run-button {
            position: absolute;
            top: 50%;
            left: 0;
            width: 30px;
            height: 30px;
            margin-top: -16px;
            border-radius: 100%;
            background: #58ccc9;
            border: none;
            outline: none;
            }
            .substep .run-button:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                border: transparent solid 10px;
                border-width: 5px 0px 5px 7px;
                border-left-color: #fff;
                margin: -5px 0 0 -2px;
            }
            .substep .run-button:hover {
                background: #7ed8d5;
            }
        .substep .substep-label {}
    
        .substep:last-child {
            margin-bottom: 0;
        }

        /* State: Done */
        .substep.done {
            opacity: 0.5;
            }
            .substep.done .run-button {
                cursor: default;
            }











